/auth:
 /login POST:
  username
  password
 /logout POST
/register POST
 username
 password
/dashboard GET
 totalKK
 totalPenduduk
 skorSDG
 pelayananDasar
 sosial
 ekonomi
 lingkungan
 aksesibilitas
 tataKelola
/kartukeluarga
 /add POST
  
 /get GET
  noKK
  namaKepala
  jumlah
  alamat

database

villages one to many users
villages one to many villagers
family_cards one to many villagers
villages one to many family_cards

table users
username varchar pk
password varchar
village uuid

table villages
id uuid pk
nama varchar
akses_paud varchar
akses_sd varchar
akses_smp varchar
akses_sma varchar
sarana_kesehatan varchar
fasilitas_kesehatan varchar
aktivitas_posyandu varchar
layanan_dokter varchar
layanan_bidan varchar
layanan_tenaga_kesehatan varchar
jaminan_kesehatan_nasional varchar
air_minum varchar
rumah_tidak_layak_huni varchar

table villager
nik unique pk
nama_lengkap varchar
jenis_kelamin varchar
tempat_lahir varchar
tanggal_lahir date
agama varchar
pendidikan varchar
pekerjaan varchar
status_perkawinan varchar
status_hubungan varchar
kewarganegaraan varchar
nomor_paspor optional
nomor_kitas optional
nama_ayah varchar
nama_ibu varchar
village uuid
family_cardID varchar

table family_cards
nik varchar pk
nama_kepala varchar
alamat varchar
rt varchar
rw varchar
kelurahan varchar
kecamatan varchar
kabupaten_kota varchar
kode_pos varchar
provinsi varchar
village uuid